@using System.Globalization
@model MiniFootball.Models.Player

	@{
		ViewBag.Title = "Player's Details";
		Layout = "~/Views/Shared/_Layout.cshtml";

	}

@{
	var points = Model.TeamPlayers.Select(tp => tp.Team.Results.Sum(r => r.Points)).Sum(p => p);
	var dates = Model.TeamPlayers.Where(w => w.Team.IsTemporary == 0).Select(tp => tp.Team.Results.Select(s => s.Date).FirstOrDefault());
}

<div class="container-fluid">
	<div>
		<div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h1>
						Player's Details<br />
					</h1>
				</div>
			</div>
		</div>

		<dl class="dl-horizontal">
			<dt>
				Name:
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>

			<dt>
				Lastname:
			</dt>

			<dd>
				@Html.DisplayFor(model => model.LastName)
			</dd>

			<dt>
				Points:
			</dt>

			<dd>
				@Html.DisplayFor(model => points)
			</dd>
			
			<dt>
				Games:
			</dt>

			<dd>
				@Html.DisplayFor(model => model.TeamPlayers.Count)
			</dd>
		</dl>
	</div>
	
	@*<div class="row">
		<div class="col-md-12">
			<ul class="list-unstyled">
				@foreach (var item in dates.OrderByDescending(o => o.Date))
				{
					var resultId = Model.TeamPlayers.Select(s => s.Team.Results.Where(w => w.Date == item).Select(res => res.Id).FirstOrDefault());
					var date = item.ToString("d MMMM yyyy", CultureInfo.CreateSpecificCulture("ru-RU"));
					<li class="gameList">
						<div class="btn-group btn-group-xs">
							<button class="btn btn-success" type="button" onclick="location.href='@Url.Action("Index", "GameStats", new { id = resultId.FirstOrDefault() })'">
								<em class="glyphicon glyphicon-list"></em> @Html.DisplayFor(d => date)
							</button>
						</div>
					</li>
				}
			</ul>
		</div>
	</div>*@

	<div class="row">
			<div class="col-md-12">
				<button type="button" class="btn btn-warning btn-xs" onclick="location.href='@Request.UrlReferrer'">
					<em class="glyphicon glyphicon-arrow-left"></em> Back
				</button>
			</div>
		</div>
	</div>
