@model IEnumerable<MiniFootball.Models.Statistic>

@{
    ViewBag.Title = "Arcadia Mini Football Players Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Arcadia Mini Football Players Statistics
				</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Games</th>
					<th>Points</th>
					<th>&Delta;</th>
				</tr>
				</thead>
				<tbody>
				@for (var i = 0; i < Model.Count(); i++)
				{
					<tr>
						<th>
							@(i + 1)
						</th>
						<td>
							@Html.DisplayFor(modelItem => Model.ElementAt(i).Name) @Html.DisplayFor(modelItem => Model.ElementAt(i).LastName)
						</td>
						<td>
							@Html.DisplayFor(modelItem => Model.ElementAt(i).Games)
						</td>
						<td>
							@Html.DisplayFor(modelItem => Model.ElementAt(i).Points)
						</td>
						<td>
							@Html.DisplayFor(modelItem => Model.ElementAt(i).Rating)
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<img alt="Rating formula" src="~/Content/images/rating_formula.png" />
			</div>
		</div>
	</div>
</div>