@using System.Globalization
@model IEnumerable<MiniFootball.Models.GameStats>

@{
    ViewBag.Title = "Game Statistics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var date = Model.Select(s => s.Game.Date).FirstOrDefault().ToString("d MMMM yyyy, dddd", CultureInfo.CreateSpecificCulture("ru-RU"));
	var firstPlace = Model.Where(f => f.Points == 3).ToList();
	var secondPlace = Model.Where(s => s.Points == 1).ToList();
	var thirdPlace = Model.Where(t => t.Points == 0).ToList();
}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>
					Game Statistics<br />
				</h1>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<h3>
				@Html.DisplayFor(d => date)
			</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead>
					<tr>
						<th>
							Player
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Goals)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Points)
						</th>
					</tr>
				</thead>
				<tbody>
					<tr><th class="team" colspan="3">First Team</th></tr>
					@foreach (var item in firstPlace)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Player.Name) @Html.DisplayFor(modelItem => item.Player.Surname)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Goals)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Points)
							</td>
						</tr>
					}
					@if (secondPlace.Any())
					{
						<tr><th class="team" colspan="3">Second Team</th></tr>
						foreach (var item in secondPlace)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Player.Name) @Html.DisplayFor(modelItem => item.Player.Surname)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Goals)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Points)
								</td>
							</tr>
						}
						<tr><th class="team" colspan="3">Third Team</th></tr>
						foreach (var item in thirdPlace)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Player.Name) @Html.DisplayFor(modelItem => item.Player.Surname)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Goals)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Points)
								</td>
							</tr>
						}
					}
					else
					{
						<tr><th class="team" colspan="3">Second Team</th></tr>
						foreach (var item in thirdPlace)
						{
							<tr>
								<td>
									@Html.DisplayFor(modelItem => item.Player.Name) @Html.DisplayFor(modelItem => item.Player.Surname)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Goals)
								</td>
								<td>
									@Html.DisplayFor(modelItem => item.Points)
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>